



@font-face{
    font-family: mull;
    src: url(Mulish-VariableFont_wght.ttf);
}

.container-fluid{
   height: 1000px !important;
   background-color:hsla(0, 0%, 100%, 1);
   
}


.open{
    width: 213px !important;
    height: 262px !important;
    background-color: white !important;
    border: 1px solid hsla(0, 2%, 91%, 1) !important;
   
}

.box1{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}

.heart{
    margin-left: 16px;
    font-size: 16px;
    font-family: mull;
}

.hearts{
    margin-left: 23px;
    font-size: 16px;
    font-family: mull;
}

.vec{
    width: 58px;
    height: 58px;
    border-radius: 12px;
    background-color: hsla(0, 81%, 86%, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.proper{
    display: flex;
    margin-left: 20px;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.number{
    font-size: 32px;

}
.zip{
    font-size: 16px;
    margin-left: 6px;
    font-family: mull;
    color:hsla(0, 0%, 50%, 1) ;
}
.normal{
    width: 58px;
    height: 23px;
    margin-left: 20px;
    border-radius: 4px;
    background-color:hsla(34, 81%, 86%, 1) ;
    font-size: 12px;
    font-family: mull;
}

.pnorm{
    display: flex;
    text-align: center;
    justify-content: center;
}

.group11{
   margin-left: 20px;
    
}

.normal1{
    width: 58px;
    height: 23px;
    margin-left: 20px;
    border-radius: 4px;
    background-color:hsla(344, 58%, 96%, 1) ;
    font-size: 12px;
    font-family: mull; 
}

.files{
    display: flex;
}
.normal2{
    width: 58px;
    height: 23px;
    margin-left: 20px;
    border-radius: 4px;
    background-color: hsla(185, 100%, 91%, 1);
    font-size: 12px;
    font-family: mull; 
}

.normal3{
    width: 58px;
    height: 23px;
    margin-left: 20px;
    border-radius: 4px;
    background-color:hsla(0, 81%, 86%, 1) ;
    font-size: 12px;
    font-family: mull; 
}

.ziip{
    font-size: 12px;
    margin-left: 6px;
    color:hsla(0, 0%, 50%, 1) ;
}

.zip1{
    margin-top: 5px;
    font-size: 16px;
    color:hsla(0, 0%, 50%, 1) ;
}


















